:root{
    --maincolor:#ff206e;
    --mainfont:  "Open Sans", sans-serif;
}
.text-main{
    color: var(--maincolor);
}
body{
    font-family: var(--mainfont);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--maincolor);
}

.animate-left{
    animation-name:sideInLeft;
    animation-duration: 2s;

}
.animate-right{
    animation: sideInRight;
    animation-duration: 3s;
    animation-delay: .3s;

}

.animate-left , .animate-right{
    transform: translateX(0);
    opacity: 0;
    animation-fill-mode: forwards;

} 
@keyframes sideInLeft{
    from{
        transform: translate(-100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes sideInRight{
    from{
        transform: translate(100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}




.testimonials img{
    width: 100px;
    height: 100px;
}
.testimonials .carousel-indicators{
    bottom: -50px;
}
.testimonials .carousel-indicators [data-bs-target]{
    background-color: #d9d9d9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.testimonials .carousel-indicators .active{
    background-color: #000;}
.projects .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: green;
}
.projects .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color:var(--maincolor);
}
.projects img{
    transition:transform 1s;
}
.projects img:hover{
    transform: scale(1.2);
}


.hero{
    background-image:url('./../img/project/bg.jpg');
    background-size: cover;
    background-position: center;
}
.hero h1{
    font-size: 48px;
    font-weight: 800;
}
.icon{
    width: 35px;
    height: 35px;
    border: 1px solid #222222;
    transition: all .6s;
}
.icon:hover{
    border: 1px solid #ffffff;
}

.service-icon{
    height: 50px;
    width: 50px;
}
.services {
    background-image: url('./../img/public/dark_dot.jpg');
}
.contact{
    background-image: url('./../img/public/dark_dot.jpg');
}
.service-icon svg path{
    transition: fill .6s;
}
.service-card:hover .service-icon svg path{
    fill: var(--maincolor);
}


.service-content h3::after {
    content: "";
    display: block;
    margin: 12px auto 0 auto;
    width: 40px;         
    height: 2px;           
    background: var(--maincolor); 
}




.contact .form-control{
    border: 0;
    border-bottom: 1px solid #eee;
}
.contact .form-control::placeholder{
    color: #eee;
}
.contact .form-control:focus{
    border-bottom: 1px solid var(--maincolor);
    box-shadow: none;
}